@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1><img src="~/images/bee.png" class="bee" />Welcome to Miss Bee's Homecare Service</h1>
</div>
<div class="container">
    <img src="~/images/threePeople.jpg" class="photos" alt="Three people in chairs"/>
    <img src="~/images/holdinands.jpg" class="photos" alt="One person holding another's hand with both hands"/>
    <img src="~/images/manWithCane.jpg" class="photos" alt="Elderly man's hands on a cane"/>
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum aliquam eros sed interdum. Donec vestibulum, tellus et aliquet sodales, mauris neque lacinia lacus, quis laoreet turpis nulla ac metus. Nullam iaculis et orci quis auctor. Etiam mollis et quam vel laoreet. Sed magna felis, euismod ut convallis a, scelerisque sed arcu. Aenean dictum purus ac purus molestie blandit. Praesent semper nulla sit amet ex finibus aliquet. Quisque et velit nec mauris ornare aliquet quis eu lacus. Duis vulputate at nisi fermentum aliquet. Nam sed congue sapien, eu mattis metus. Mauris convallis ipsum vel augue dignissim, a faucibus nisi dignissim.
</p>
